In [1]:
# Import pandas for data handling
import pandas as pd

# NLTK is our Natural-Language-Took-Kit
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

# Libraries for helping us with strings
import string
# Regular Expression Library
import re

# Import our text vectorizers
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer


# Import our classifiers
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier


# Import some ML helper function
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report


# Import our metrics to evaluate our model
from sklearn import metrics
from sklearn.metrics import classification_report


# Library for plotting
import matplotlib.pyplot as plt
import seaborn as sns

# You may need to download these from nltk
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('wordnet')
# stopwords = stopwords.words('english')

In [2]:
df=pd.read_csv(r'data/DS_DA_BS.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,role
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,DS
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,DS
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,TRUE,DS
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,DS
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,DS

In [3]:
df["Salary Estimate"].value_counts()

$93K-$151K (Glassdoor est.)         62
$60K-$124K (Glassdoor est.)         62
$113K-$180K (Glassdoor est.)        61
$59K-$85K (Glassdoor est.)          61
$43K-$76K (Glassdoor est.)          61
                                    ..
$10-$26 Per Hour(Glassdoor est.)     3
$57K-$70K (Glassdoor est.)           2
-1                                   1
$41K-$74K (Glassdoor est.)           1
$59K-$98K (Glassdoor est.)           1
Name: Salary Estimate, Length: 366, dtype: int64

In [4]:
# utitility functions from jerry
#using re to extract numbers from the string
def extract_numbers(arr):#arr is the array of strings
    min_result=[]
    max_result=[]
#     result=[]
    for i in arr:
        temp=re.findall('[0-9]+',i)
        if len(temp)==2:
            min_result.append(int(temp[0]))
            max_result.append(int(temp[1]))
        else:
            min_result.append(int(temp[0]))
            max_result.append(int(temp[0]))
    return min_result,max_result  

def extract_numbers_max(x):
    temp=re.findall(r'[0-9]+',x)
    return max([int(i) for i in temp])

def extract_numbers_min(x):
    temp=re.findall(r'[0-9]+',x)
    return min([int(i) for i in temp])

In [5]:
# get median salary
df['min salary']=df['Salary Estimate'].apply(extract_numbers_min)
df['max salary']=df['Salary Estimate'].apply(extract_numbers_max)
df['Median Salary'] = (df['min salary'] + df['max salary'])/2
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,role,min salary,max salary,Median Salary
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,DS,111,181,146.0
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,DS,111,181,146.0
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,TRUE,DS,111,181,146.0
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,DS,111,181,146.0
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,DS,111,181,146.0

In [6]:
# find out rows with hourly pay instead of salary and rows with a -1 salary
c1 = ~df['Salary Estimate'].str.contains("Hour")
c2 = ~(df['Salary Estimate'] == '-1')
df = df[c1 & c2]
series = df["Salary Estimate"].value_counts()
for i in range(len(series)):
    print(series.index[i], series.values[i])

$93K-$151K (Glassdoor est.) 62
$60K-$124K (Glassdoor est.) 62
$43K-$76K (Glassdoor est.) 61
$113K-$180K (Glassdoor est.) 61
$59K-$85K (Glassdoor est.) 61
$71K-$122K (Glassdoor est.) 60
$41K-$79K (Glassdoor est.) 60
$48K-$87K (Glassdoor est.) 60
$43K-$78K (Glassdoor est.) 60
$111K-$175K (Glassdoor est.) 60
$74K-$140K (Glassdoor est.) 60
$35K-$65K (Glassdoor est.) 60
$49K-$92K (Glassdoor est.) 59
$41K-$80K (Glassdoor est.) 59
$49K-$91K (Glassdoor est.) 59
$74K-$123K (Glassdoor est.) 59
$39K-$69K (Glassdoor est.) 58
$76K-$122K (Glassdoor est.) 58
$42K-$76K (Glassdoor est.) 57
$41K-$78K (Glassdoor est.) 57
$38K-$68K (Glassdoor est.) 57
$57K-$104K (Glassdoor est.) 57
$53K-$99K (Glassdoor est.) 56
$55K-$101K (Glassdoor est.) 55
$43K-$84K (Glassdoor est.) 53
$37K-$75K (Glassdoor est.) 53
$38K-$59K (Glassdoor est.) 52
$43K-$79K (Glassdoor est.) 51
$85K-$159K (Glassdoor est.) 50
$42K-$80K (Glassdoor est.) 50
$55K-$103K (Glassdoor est.) 47
$69K-$127K (Glassdoor est.) 46
$119K-$147K (Glassdoor est.) 44
$53K-$104K (Glassdoor est.) 44
$28K-$52K (Glassdoor est.) 44
$50K-$86K (Glassdoor est.) 41
$100K-$172K (Glassdoor est.) 37
$41K-$68K (Glassdoor est.) 36
$35K-$67K (Glassdoor est.) 33
$48K-$74K (Glassdoor est.) 32
$45K-$96K (Glassdoor est.) 32
$43K-$82K (Glassdoor est.) 32
$63K-$79K (Glassdoor est.) 32
$41K-$81K (Glassdoor est.) 32
$44K-$78K (Glassdoor est.) 32
$124K-$186K (Glassdoor est.) 32
$97K-$159K (Glassdoor est.) 32
$45K-$78K (Glassdoor est.) 32
$47K-$88K (Glassdoor est.) 31
$12K-$111K (Glassdoor est.) 31
$98K-$152K (Glassdoor est.) 31
$77K-$151K (Glassdoor est.) 31
$78K-$139K (Glassdoor est.) 31
$150K-$169K (Glassdoor est.) 31
$100K-$128K (Glassdoor est.) 31
$40K-$84K (Glassdoor est.) 31
$135K-$214K (Glassdoor est.) 31
$58K-$93K (Glassdoor est.) 31
$71K-$126K (Glassdoor est.) 31
$43K-$85K (Glassdoor est.) 31
$39K-$80K (Glassdoor est.) 30
$62K-$112K (Glassdoor est.) 30
$38K-$58K (Glassdoor est.) 30
$73K-$112K (Glassdoor est.) 30
$100K-$163K (Glassdoor est.) 30
$31K-$61K (Glassdoor est.) 30
$98K-$160K (Glassdoor est.) 30
$50K-$110K (Glassdoor est.) 30
$53K-$102K (Glassdoor est.) 30
$60K-$110K (Glassdoor est.) 30
$61K-$94K (Glassdoor est.) 30
$52K-$94K (Glassdoor est.) 30
$54K-$88K (Glassdoor est.) 30
$55K-$113K (Glassdoor est.) 30
$51K-$87K (Glassdoor est.) 30
$51K-$88K (Glassdoor est.) 30
$81K-$97K (Glassdoor est.) 30
$46K-$87K (Glassdoor est.) 30
$39K-$86K (Glassdoor est.) 30
$46K-$90K (Glassdoor est.) 30
$37K-$66K (Glassdoor est.) 30
$111K-$181K (Glassdoor est.) 30
$27K-$52K (Glassdoor est.) 30
$53K-$96K (Glassdoor est.) 30
$46K-$86K (Glassdoor est.) 30
$44K-$86K (Glassdoor est.) 30
$59K-$111K (Glassdoor est.) 30
$69K-$97K (Glassdoor est.) 30
$40K-$77K (Glassdoor est.) 30
$62K-$111K (Glassdoor est.) 30
$74K-$85K (Glassdoor est.) 30
$45K-$73K (Glassdoor est.) 30
$102K-$160K (Glassdoor est.) 30
$56K-$102K (Glassdoor est.) 30
$81K-$159K (Glassdoor est.) 30
$85K-$135K (Glassdoor est.) 30
$45K-$82K (Glassdoor est.) 30
$48K-$92K (Glassdoor est.) 30
$69K-$131K (Glassdoor est.) 30
$99K-$118K (Glassdoor est.) 30
$72K-$134K (Glassdoor est.) 30
$35K-$42K (Glassdoor est.) 30
$39K-$77K (Glassdoor est.) 30
$98K-$114K (Glassdoor est.) 30
$50K-$66K (Glassdoor est.) 30
$59K-$138K (Glassdoor est.) 30
$43K-$69K (Glassdoor est.) 30
$89K-$107K (Glassdoor est.) 30
$32K-$61K (Glassdoor est.) 30
$41K-$88K (Glassdoor est.) 30
$42K-$66K (Glassdoor est.) 30
$60K-$66K (Glassdoor est.) 30
$74K-$144K (Glassdoor est.) 30
$97K-$129K (Glassdoor est.) 30
$37K-$69K (Glassdoor est.) 30
$120K-$140K (Glassdoor est.) 30
$53K-$103K (Glassdoor est.) 30
$64K-$113K (Glassdoor est.) 30
$37K-$68K (Glassdoor est.) 30
$36K-$61K (Glassdoor est.) 30
$51K-$99K (Glassdoor est.) 30
$30K-$53K (Glassdoor est.) 30
$70K-$172K (Glassdoor est.) 30
$100K-$152K (Glassdoor est.) 30
$82K-$129K(Employer est.) 30
$138K-$217K (Glassdoor est.) 30
$62K-$109K (Glassdoor est.) 30
$36K-$73K (Glassdoor est.) 30
$50K-$78K (Glassdoor est.) 30
$60K-$105K (Glassdoor est.) 30
$69K-$144K (Glassdoor est.) 30
$90K-$175K (Glassdoor est.) 30
$39K-$87K (Glassdoor est.) 30
$36K-$71K (Glassdoor est.) 30
$55K-$117K (Glassdoor est.) 30
$114K-$144K (Glassdoor est.) 30
$72K-$97K (Glassdoor est.) 30
$94K-$166K (Glassdoor est.) 30
$73K-$136K (Glassdoor est.) 30
$94K-$151K (Glassdoor est.) 30
$92K-$144K (Glassdoor est.) 30
$64K-$97K (Glassdoor est.) 30
$47K-$73K (Glassdoor est.) 30
$84K-$156K (Glassdoor est.) 30
$46K-$84K (Glassdoor est.) 30
$73K-$111K (Glassdoor est.) 30
$50K-$87K (Glassdoor est.) 30
$71K-$117K (Glassdoor est.) 30
$76K-$147K (Glassdoor est.) 30
$99K-$174K (Glassdoor est.) 30
$39K-$81K (Glassdoor est.) 30
$31K-$56K (Glassdoor est.) 30
$74K-$124K (Glassdoor est.) 30
$102K-$121K (Glassdoor est.) 30
$129K-$210K (Glassdoor est.) 30
$156K-$254K (Glassdoor est.) 30
$39K-$73K (Glassdoor est.) 30
$52K-$120K (Glassdoor est.) 30
$47K-$105K (Glassdoor est.) 30
$28K-$54K (Glassdoor est.) 30
$30K-$57K (Glassdoor est.) 30
$45K-$110K (Glassdoor est.) 30
$102K-$164K (Glassdoor est.) 30
$134K-$218K (Glassdoor est.) 30
$76K-$125K (Glassdoor est.) 30
$132K-$208K (Glassdoor est.) 30
$83K-$105K (Glassdoor est.) 30
$60K-$109K (Glassdoor est.) 30
$52K-$95K (Glassdoor est.) 30
$31K-$57K (Glassdoor est.) 30
$46K-$80K (Glassdoor est.) 30
$79K-$130K (Glassdoor est.) 30
$91K-$105K (Glassdoor est.) 30
$44K-$80K (Glassdoor est.) 30
$38K-$82K (Glassdoor est.) 30
$88K-$140K (Glassdoor est.) 30
$48K-$98K (Glassdoor est.) 30
$46K-$82K (Glassdoor est.) 30
$83K-$165K (Glassdoor est.) 30
$74K-$129K (Glassdoor est.) 30
$94K-$163K (Glassdoor est.) 30
$63K-$119K (Glassdoor est.) 30
$112K-$136K (Glassdoor est.) 30
$58K-$116K (Glassdoor est.) 30
$42K-$78K (Glassdoor est.) 30
$12K-$112K (Glassdoor est.) 30
$134K-$210K (Glassdoor est.) 30
$49K-$78K (Glassdoor est.) 30
$51K-$79K (Glassdoor est.) 30
$52K-$91K (Glassdoor est.) 30
$55K-$106K (Glassdoor est.) 30
$62K-$79K (Glassdoor est.) 30
$46K-$91K (Glassdoor est.) 30
$73K-$102K (Glassdoor est.) 30
$93K-$149K (Glassdoor est.) 30
$148K-$174K (Glassdoor est.) 30
$119K-$188K (Glassdoor est.) 30
$38K-$76K (Glassdoor est.) 30
$116K-$181K (Glassdoor est.) 30
$112K-$178K (Glassdoor est.) 30
$80K-$90K(Employer est.) 30
$114K-$146K (Glassdoor est.) 30
$62K-$120K (Glassdoor est.) 30
$46K-$83K (Glassdoor est.) 30
$83K-$154K (Glassdoor est.) 30
$52K-$99K (Glassdoor est.) 30
$98K-$172K (Glassdoor est.) 30
$86K-$152K (Glassdoor est.) 30
$119K-$226K (Glassdoor est.) 30
$51K-$93K (Glassdoor est.) 29
$65K-$100K (Glassdoor est.) 29
$150K-$237K (Glassdoor est.) 29
$200K-$250K(Employer est.) 29
$55K-$78K (Glassdoor est.) 29
$121K-$192K (Glassdoor est.) 29
$145K-$176K (Glassdoor est.) 29
$59K-$107K (Glassdoor est.) 29
$141K-$225K (Glassdoor est.) 29
$29K-$38K (Glassdoor est.) 29
$65K-$81K (Glassdoor est.) 29
$113K-$132K (Glassdoor est.) 29
$53K-$94K (Glassdoor est.) 29
$37K-$44K (Glassdoor est.) 29
$43K-$94K (Glassdoor est.) 29
$77K-$132K (Glassdoor est.) 29
$57K-$103K (Glassdoor est.) 29
$113K-$184K (Glassdoor est.) 29
$37K-$70K (Glassdoor est.) 29
$45K-$81K (Glassdoor est.) 29
$24K-$48K (Glassdoor est.) 29
$46K-$104K (Glassdoor est.) 29
$41K-$86K (Glassdoor est.) 29
$54K-$92K (Glassdoor est.) 29
$110K-$190K (Glassdoor est.) 29
$67K-$92K (Glassdoor est.) 29
$26K-$47K (Glassdoor est.) 29
$73K-$82K (Glassdoor est.) 29
$40K-$81K (Glassdoor est.) 28
$42K-$77K (Glassdoor est.) 28
$47K-$76K (Glassdoor est.) 28
$84K-$101K (Glassdoor est.) 28
$65K-$120K (Glassdoor est.) 28
$136K-$164K (Glassdoor est.) 28
$35K-$45K (Glassdoor est.) 28
$46K-$102K (Glassdoor est.) 28
$44K-$82K (Glassdoor est.) 28
$89K-$151K (Glassdoor est.) 28
$96K-$119K (Glassdoor est.) 28
$54K-$75K (Glassdoor est.) 28
$99K-$178K (Glassdoor est.) 28
$82K-$116K (Glassdoor est.) 28
$34K-$61K (Glassdoor est.) 28
$48K-$89K (Glassdoor est.) 27
$48K-$88K (Glassdoor est.) 27
$55K-$112K (Glassdoor est.) 27
$57K-$100K (Glassdoor est.) 27
$42K-$74K (Glassdoor est.) 27
$82K-$141K (Glassdoor est.) 26
$47K-$74K (Glassdoor est.) 26
$57K-$67K (Glassdoor est.) 26
$143K-$237K (Glassdoor est.) 26
$61K-$79K (Glassdoor est.) 25
$93K-$159K (Glassdoor est.) 25
$34K-$79K (Glassdoor est.) 24
$70K-$129K (Glassdoor est.) 24
$27K-$48K (Glassdoor est.) 24
$34K-$75K (Glassdoor est.) 23
$50K-$100K (Glassdoor est.) 23
$34K-$65K (Glassdoor est.) 23
$48K-$96K (Glassdoor est.) 22
$58K-$103K (Glassdoor est.) 22
$102K-$179K (Glassdoor est.) 22
$112K-$211K (Glassdoor est.) 22
$36K-$67K (Glassdoor est.) 22
$40K-$76K (Glassdoor est.) 21
$45K-$106K (Glassdoor est.) 21
$38K-$71K (Glassdoor est.) 21
$74K-$100K (Glassdoor est.) 21
$97K-$111K (Glassdoor est.) 21
$63K-$116K (Glassdoor est.) 20
$45K-$85K (Glassdoor est.) 20
$110K-$139K (Glassdoor est.) 20
$86K-$178K (Glassdoor est.) 20
$45K-$53K (Glassdoor est.) 19
$121K-$206K (Glassdoor est.) 19
$57K-$80K (Glassdoor est.) 19
$45K-$100K (Glassdoor est.) 19
$98K-$188K (Glassdoor est.) 19
$44K-$87K (Glassdoor est.) 19
$50K-$93K (Glassdoor est.) 19
$72K-$100K (Glassdoor est.) 19
$40K-$72K (Glassdoor est.) 19
$34K-$72K (Glassdoor est.) 19
$49K-$112K (Glassdoor est.) 18
$56K-$88K (Glassdoor est.) 18
$67K-$144K (Glassdoor est.) 18
$73K-$89K (Glassdoor est.) 18
$43K-$81K (Glassdoor est.) 18
$48K-$107K (Glassdoor est.) 18
$46K-$68K (Glassdoor est.) 18
$48K-$81K (Glassdoor est.) 18
$85K-$130K (Glassdoor est.) 18
$27K-$54K (Glassdoor est.) 18
$116K-$152K (Glassdoor est.) 18
$84K-$90K (Glassdoor est.) 18
$68K-$89K (Glassdoor est.) 18
$40K-$73K (Glassdoor est.) 18
$34K-$64K (Glassdoor est.) 17
$48K-$63K (Glassdoor est.) 17
$82K-$161K (Glassdoor est.) 17
$70K-$154K (Glassdoor est.) 17
$52K-$70K (Glassdoor est.) 17
$70K-$123K (Glassdoor est.) 16
$49K-$94K (Glassdoor est.) 16
$33K-$60K (Glassdoor est.) 16
$38K-$133K (Glassdoor est.) 16
$44K-$85K (Glassdoor est.) 16
$68K-$87K (Glassdoor est.) 16
$75K-$143K (Glassdoor est.) 15
$86K-$88K (Glassdoor est.) 15
$78K-$104K (Glassdoor est.) 15
$48K-$100K (Glassdoor est.) 15
$54K-$118K (Glassdoor est.) 15
$49K-$168K (Glassdoor est.) 15
$46K-$85K (Glassdoor est.) 14
$78K-$146K (Glassdoor est.) 14
$88K-$160K (Glassdoor est.) 14
$73K-$127K (Glassdoor est.) 14
$62K-$127K (Glassdoor est.) 13
$75K-$149K (Glassdoor est.) 13
$114K-$211K (Glassdoor est.) 13
$133K-$171K (Glassdoor est.) 13
$58K-$68K (Glassdoor est.) 13
$41K-$66K (Glassdoor est.) 13
$59K-$113K (Glassdoor est.) 12
$47K-$84K (Glassdoor est.) 12
$69K-$138K (Glassdoor est.) 12
$96K-$155K (Glassdoor est.) 12
$85K-$147K (Glassdoor est.) 11
$45K-$88K (Glassdoor est.) 11
$66K-$114K (Glassdoor est.) 10
$51K-$95K (Glassdoor est.) 10
$93K-$103K (Glassdoor est.) 9
$47K-$82K (Glassdoor est.) 9
$66K-$130K (Glassdoor est.) 9
$55K-$98K (Glassdoor est.) 9
$40K-$74K (Glassdoor est.) 9
$110K-$169K (Glassdoor est.) 8
$30K-$54K (Glassdoor est.) 8
$114K-$185K (Glassdoor est.) 7
$39K-$71K (Glassdoor est.) 7
$99K-$173K (Glassdoor est.) 6
$31K-$59K (Glassdoor est.) 4
$42K-$63K (Glassdoor est.) 4
$32K-$56K (Glassdoor est.) 4
$43K-$77K (Glassdoor est.) 3
$47K-$81K (Glassdoor est.) 3
$146K-$175K (Glassdoor est.) 3
$66K-$124K (Glassdoor est.) 3
$57K-$70K (Glassdoor est.) 2
$59K-$98K (Glassdoor est.) 1
$41K-$74K (Glassdoor est.) 1

In [9]:
# function to add column to classify salaries into ranges
def get_label(salary, salary_range=20):
    start = 0
    while salary > start:
        start += salary_range
    return str(start - salary_range) + " to " + str(start) + "(thousands)"

In [11]:
df['Salary Labels']=df['Median Salary'].apply(get_label)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,role,min salary,max salary,Median Salary,Salary Labels
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,DS,111,181,146.0,140 to 160(thousands)
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,DS,111,181,146.0,140 to 160(thousands)
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,TRUE,DS,111,181,146.0,140 to 160(thousands)
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,DS,111,181,146.0,140 to 160(thousands)
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,DS,111,181,146.0,140 to 160(thousands)